footer {
}

.about-container {
    background-image: url("./images/IMGP0750.JPG");
}

.about-picture {
  width: calc(33% - 10px);
  display: flex;
  flex-direction: column;
}

.about-picture img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 25%;
  }

.about-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  flex-direction: row;
}

.about-text-section {
  width: calc(50% - 20px);
  margin: 10px;
}

.about-text-section h3, p {
  margin-left: 20px;
}

.about-picture-section {
  width: calc(50% - 20px);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .about-container {
    flex-direction: column;
  }

  .about-text-section {
    width: 100%;
    margin: 5%;
  }
  .about-picture-section {
    width: 100%;
    margin: 40px 0px;
  }

  .about-picture {
    width: 50%;
  }
}
