* {
    box-sizing: border-box;
}

.projects-list-container {
  width: 90%;
}

.container-project-list {
  background-image: url("./images/IMGP0750.JPG");
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 50px;
}

.projects-list-text {
  margin: 20px 5%;
}

.projects-list-projects {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    justify-content: space-around;
  /* margin-left: 5%; */
}

.projects-lists-one-project {
  width: 30%;
  border-style: solid;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;

  background-color: white;
}

.projects-lists-one-project img {
  width: 100%;
  height: auto;
  margin-left: 6%;
  margin-top: 10px
}

.project-name-click {
  font-size: 10px;
}

.project-name {
  font-size: 20px;
  text-decoration: none;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .projects-list-projects {
    flex-direction: column;
  }
  .projects-lists-one-project {
    width: 90%;
    margin-left: 5%;
  }
}
